/***** BASE STYLES *****/

body {
  background: #1d212b;
  font-family: "Montserrat";
  color: white;
  max-width: 1200px;
  font-size: 16px;
  margin: auto;
}

h1 {
  color: white;
  font-family: "source code pro";
}

/***** HEADER *****/

header .page-wrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  margin-top: 10px;
}

.header-divider {
  border-top: 1px solid #000000;
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  font-size: 0.85em;
  margin: 10px;
  width: 100%;
}
.nav-bar ul {
  padding-inline-start: 0px;
  list-style-type: none;
  margin-block-start: 0.5em;
}

.nav-bar ul li {
  display: inline-block;
}

.nav-bar ul li a {
  text-transform: lowercase;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
}

#nav-about {
  padding-left: 30px;
  padding-right: 30px;
}

/***** MAIN *****/
main .page-wrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

.hero {
  background: url("../img-project/hero-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  width: 100%;
}

.hero h1 {
  font-size: 2em;
  width: 80%;
}

.hero span {
  color: #fa0274;
}

.portfolio-wrap {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
}

.portfolio h2 {
  color: #fa0274;
  font-family: "source code pro";
  font-size: 2em;
  text-align: center;
}

.portfolio .third-width {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

#jubilee-austen {
  padding-top: 30px;
}

#rogue-pickings {
  padding-top: 70px;
  padding-bottom: 70px;
}

#unplugged {
  padding-bottom: 50px;
}

#project-one img {
  overflow: auto;
}

.about .page-wrap {
  background: url("../img-project/about-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.about h2 {
  color: #fa0274;
  font-family: "source code pro";
  font-size: 30px;
  text-align: center;
  margin-block-end: 0;
}

.about-header {
  width: 60%;
}

.about-bio {
  color: #20202c;
  width: 80%;
}

/***** FOOTER *****/

footer .page-wrap {
  margin: 20px;
  text-align: center;
}

footer h2 {
  color: #fa0274;
  font-family: "source code pro";
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}

.contact .third-width {
  color: white;
  font-size: 16px;
  line-height: 5px;
  text-align: center;
}
.contact h3 {
  padding-bottom: 10px;
}

footer ul {
  list-style: none;
  margin: 0px auto;
}

footer ul li {
  display: inline-block;
}

#social-media {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer ul img {
  padding-right: 40px;
}

#contact-options a {
  color: #fa0274;
  text-decoration: none;
}

#link-up h4 {
  font-weight: normal;
}

#link-up a {
  color: #fa0274;
  text-decoration: none;
}

#copyright h4 {
  color: white;
  font-size: 14px;
  text-align: center;
  padding-top: 50px;
  font-weight: lighter;
}
/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

/*********TABLET STYLES here***********/
@media only screen and (min-width: 768px) {
  header .page-wrap {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
  }

  header .name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
    margin-bottom: 20px;
  }

  .header-divider {
    border-top: none;
    width: 1%;
  }

  header .nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    margin: 0;
  }

  .nav-bar ul li {
    display: inline-block;
    font-size: 1.1em;
  }

  #nav-about {
    padding-left: 10px;
    padding-right: 10px;
  }

  /***** MAIN *****/
  .hero .page-wrap {
    display: flex;
    width: 70%;
  }

  .hero h1 {
    font-size: 2.3em;
  }

  .portfolio h2 {
    font-size: 2.3em;
  }

  .portfolio img {
    width: 450px;
  }

  .portfolio h3 {
    font-size: 1.2em;
    margin-block-end: 0;
  }

  .portfolio p {
    font-size: 1em;
  }

  .about-header h2 {
    font-size: 2.3em;
  }

  .about-bio {
    width: 70%;
    font-size: 1.3em;
  }

  /***** FOOTER *****/
  footer .contact-wrap {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }

  #social-media {
    padding-top: 0;
    padding-bottom: 0;
  }

  #social-media ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
  }

  footer ul li {
    padding-left: 35px;
  }
}

/*********DESKTOP STYLES here***********/
@media only screen and (min-width: 1200px) {
  body {
    width: 100%;
  }
}
